<nav
  class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
>
  <a class="mr-5 hover:text-gray-900" href="/"><%=__('Home')%></a>
  <a class="mr-5 hover:text-gray-900" href="/new-product"
    ><%=__('Upload product')%></a
  >
  <a class="mr-5 hover:text-gray-900 w-10 h-10" href="/logout"
    ><%- include ('logout.ejs')%></a
  >
</nav>
